<div class="" >
<div class="">
  <h1 align="center">Calculatrice  </h1>
</div>


  <div class="card-body">
    <div class="form-group">
      <label>Tapar A : </label>
      <input [(ngModel)]="a" class="form-controler" name="a" type ="number" >
    </div>


    <div class="form-group">
      <label>Tapar B : </label>
      <input   [(ngModel)]="b" type="number" name="b" type ="number" >
    </div>





    <div class="form-group"  *ngIf ="op ==1" >
      <label>Resultat  : {{res}} </label>
    </div>


    <p *ngIf ="op==2">Dividion impossible par zéro .. ! </p>


    <div class="form-group">
      <button class="btn btn-info"  (click)= "add()" >+</button>
      <button class="btn btn-success" (click)= "sous()">-</button>
      <button class="btn btn-warning" (click)= "mult()">*</button>
      <button class="btn btn-danger" (click) = "division()">/</button>


</div>
</div>
</div>

